---
# Ansible Role Metadata
# For complete information about all available options:
# https://galaxy.ansible.com/docs/contributing/creating_role.html#role-metadata

dependencies:
  - role: geerlingguy.git
    become: true
  - role: linuxmaniac.certbot
    vars:
      certbot_admin_email: "{{ deb_certbot_admin_email }}"
      certbot_create_if_missing: "{{ deb_certbot_create }}"
      certbot_auto_renew: false
      certbot_certs: "{{ deb_certbot_certs }}"
      certbot_testmode: "{{ deb_certbot_testmode }}"
      certbot_create_method: nginx
    become: true
  - role: geerlingguy.nginx
    vars:
      nginx_vhosts: "{{ deb_nginx_vhosts }}"
      nginx_remove_default_vhost: true
      nginx_proxy_cache_path: /var/cache/nginx keys_zone=acng_cache:10m max_size=100m
      nginx_extra_http_options: |
        limit_req_zone $request_uri zone=acng:10m rate=4r/s;
    become: true

galaxy_info:
  role_name: deb
  author: Victor Seva
  description: common role for repository server
  license: GPLv3

  min_ansible_version: "2.11"
  galaxy_tags: []
  platforms:
    - name: Debian
      versions:
        - all
