[user]
	email = {{ base_user.email|default(base_user.debian.email) }}
	name = {{ base_user.debian.full_name }}
#
[column]
	ui = auto
[branch]
	sort = -committerdate
	autoSetupMerge = simple
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
#
[pull]
	rebase = true
[commit]
	verbose = true
[help]
	autoCorrect = 2
