---
- name: Mount repository device by PARTUUID
  ansible.posix.mount:
    path: /srv
    src: "PARTUUID={{ deb_repository_device }}"
    fstype: ext4
    opts: defaults,noatime
    passno: 2
    state: present
  become: true

- name: cron package
  ansible.builtin.apt:
    name: cron
    state: latest
  become: true

- name: Install apt-cacher-ng package
  ansible.builtin.apt:
    name: apt-cacher-ng
    state: latest
  become: true

- name: Set config
  ansible.builtin.lineinfile:
    dest: /etc/apt-cacher-ng/acng.conf
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: "{{ item.state | default('present') }}"
  with_items:
    - { regexp: '^# PassThroughPattern: \.\*', line: "PassThroughPattern: .*" }
  notify:
    - restart_apt_cacher
  become: true

- name: Enable apt-cacher-ng service
  ansible.builtin.service:
    name: apt-cacher-ng
    state: started
    enabled: true
  become: true

- name: Check if certificate already exists.
  ansible.builtin.stat:
    path: "/etc/letsencrypt/live/{{ deb_jenkins_servername }}/cert.pem"
  register: deb_letsencrypt_cert
  become: true

- name: fake cerbot files
  when: not deb_letsencrypt_cert.stat.exists
  block:
    - name: ssl-cert package
      ansible.builtin.apt:
        name: ssl-cert
        state: latest
    - name: certbot live dir
      ansible.builtin.file:
        path: "/etc/letsencrypt/live/{{ deb_jenkins_servername }}"
        owner: root
        group: root
        state: directory
        mode: '0755'
    - name: fake cert
      ansible.builtin.copy:
        src: /etc/ssl/certs/ssl-cert-snakeoil.pem
        dest: "/etc/letsencrypt/live/{{ deb_jenkins_servername }}/fullchain.pem"
        owner: root
        group: root
        mode: '0644'
        remote_src: true
    - name: fake key
      ansible.builtin.copy:
        src: /etc/ssl/private/ssl-cert-snakeoil.key
        dest: "/etc/letsencrypt/live/{{ deb_jenkins_servername }}/privkey.pem"
        owner: root
        group: root
        mode: '0644'
        remote_src: true
  become: true

- name: repo snippets
  ansible.builtin.copy:
    src: repo_snip.conf
    dest: /etc/nginx/snippets/repo.conf
    owner: root
    group: root
    mode: "0644"
  notify:
    - reload_nginx
  become: true

- name: nginx snippets
  ansible.builtin.template:
    src: "{{ item }}_snip.j2"
    dest: "/etc/nginx/snippets/{{ item }}.conf"
    owner: root
    group: root
    mode: "0644"
  loop:
    - jenkins
    - apt_cache
  notify:
    - reload_nginx
  become: true

- name: repository index file from kamailio-deb-jenkins
  ansible.builtin.copy:
    src: "{{ ansible_facts.user_dir }}/kamailio-deb-jenkins/html/index.deb.html"
    dest: "{{ deb_repository_basedir }}/index.html"
    owner: root
    group: root
    mode: '0644'
    remote_src: true
  become: true

- name: replace deb_repository_servername from index
  ansible.builtin.replace:
    path: "{{ deb_repository_basedir }}/index.html"
    regexp: '(\s+)deb\.kamailio\.org(\s+.*)?$'
    replace: \1{{ deb_repository_servername }}\2
  when: deb_repository_servername != 'deb.kamailio.org'
  become: true
