---
- name: Mount repository device by PARTUUID
  ansible.posix.mount:
    path: /srv
    src: "PARTUUID={{ deb_repository_device }}"
    fstype: ext4
    opts: defaults,noatime
    passno: 2
    state: present
  become: true

- name: Install packages
  ansible.builtin.apt:
    name: "{{ item }}"
    state: latest
  loop: "{{ deb_pkgs }}"
  become: true

- name: Set config
  ansible.builtin.lineinfile:
    dest: /etc/apt-cacher-ng/acng.conf
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: "{{ item.state | default('present') }}"
  with_items:
    - { regexp: '^# PassThroughPattern: \.\*', line: "PassThroughPattern: .*" }
  notify:
    - restart_apt_cacher
  become: true

- name: Enable apt-cacher-ng service
  ansible.builtin.service:
    name: apt-cacher-ng
    state: started
    enabled: true
  become: true

- name: Check if certificate already exists.
  ansible.builtin.stat:
    path: "/etc/letsencrypt/live/{{ deb_jenkins_servername }}/cert.pem"
  register: deb_letsencrypt_cert
  become: true

- name: fake cerbot files
  when: not deb_letsencrypt_cert.stat.exists
  block:
    - name: ssl-cert package
      ansible.builtin.apt:
        name: ssl-cert
        state: latest
    - name: certbot live dir
      ansible.builtin.file:
        path: "/etc/letsencrypt/live/{{ deb_jenkins_servername }}"
        owner: root
        group: root
        state: directory
        mode: '0755'
    - name: fake certs
      ansible.builtin.copy:
        src: /etc/ssl/certs/ssl-cert-snakeoil.pem
        dest: "/etc/letsencrypt/live/{{ item }}/fullchain.pem"
        owner: root
        group: root
        mode: '0644'
        remote_src: true
      loop:
        - "{{ deb_jenkins_servername }}"
        - "{{ deb_repository_servername }}"
    - name: fake keys
      ansible.builtin.copy:
        src: /etc/ssl/private/ssl-cert-snakeoil.key
        dest: "/etc/letsencrypt/live/{{ item }}/privkey.pem"
        owner: root
        group: root
        mode: '0644'
        remote_src: true
      loop:
        - "{{ deb_jenkins_servername }}"
        - "{{ deb_repository_servername }}"
    - name: fake options-ssl-nginx.conf
      ansible.builtin.file:
        path: /etc/letsencrypt/options-ssl-nginx.conf
        owner: root
        group: root
        mode: '0644'
        state: touch
  become: true

- name: repo snippets
  ansible.builtin.copy:
    src: repo_snip.conf
    dest: /etc/nginx/snippets/repo.conf
    owner: root
    group: root
    mode: "0644"
  notify:
    - reload_nginx
  become: true

- name: nginx snippets
  ansible.builtin.template:
    src: "{{ item }}_snip.j2"
    dest: "/etc/nginx/snippets/{{ item }}.conf"
    owner: root
    group: root
    mode: "0644"
  loop:
    - jenkins
    - apt_cache
  notify:
    - reload_nginx
  become: true

- name: repository index file from jenkins-jobs
  ansible.builtin.copy:
    src: "{{ ansible_facts.user_dir }}/jenkins-jobs/html/{{ item }}"
    dest: "{{ deb_repository_basedir }}/{{ item }}"
    owner: root
    group: root
    mode: '0644'
    remote_src: true
  loop:
    - index.html
    - rtpengine.html
  become: true

- name: replace deb_repository_servername from index
  ansible.builtin.replace:
    path: "{{ deb_repository_basedir }}/index.html"
    regexp: '(\s+)deb\.kamailio\.org(\s+.*)?$'
    replace: \1{{ deb_repository_servername }}\2
  when: deb_repository_servername != 'deb.kamailio.org'
  become: true

- name: fail2ban rules for nginx
  ansible.builtin.template:
    src: deb_jail.conf.j2
    dest: "/etc/fail2ban/jail.d/nginx.conf"
    owner: root
    group: root
    mode: "0644"
  notify:
    - reload_fail2ban
  become: true

- name: goaccess config
  ansible.builtin.replace:
    path: /etc/goaccess/goaccess.conf
    regexp: "{{ item.regexp }}"
    replace: "{{ item.replace }}"
  loop:
    - regexp: '^#time-format %H:%M:%S$'
      replace: "time-format %H:%M:%S"
    - regexp: '^#date-format %d/%b/%Y$'
      replace: "date-format %d/%b/%Y"
  become: true

- name: goaccess log-format config
  ansible.builtin.lineinfile:
    path: /etc/goaccess/goaccess.conf
    line: 'log-format %h %^[%d:%t %^] "%r" %s %b "%R" "%u"'
    insertafter: '^# NCSA Combined Log Format$'
    state: present
  become: true

- name: reports dirs
  ansible.builtin.file:
    path: /var/www/html/stats
    state: directory
    mode: '0755'
  become: true

- name: httpd-prerotate dir
  ansible.builtin.file:
    path: /etc/logrotate.d/httpd-prerotate
    state: directory
    mode: '0755'
  become: true

- name: httpd-prerotate goaccess script
  ansible.builtin.template:
    src: update_goaccess.sh.j2
    dest: "/etc/logrotate.d/httpd-prerotate/{{ '%02d' | format(idx) }}_goaccess_{{ item.name | replace('.','_') }}"
    owner: root
    group: root
    mode: "0774"
  loop: "{{ deb_goaccess_domains }}"
  loop_control:
    index_var: idx
  become: true

- name: cron.hourly goaccess scripts
  ansible.builtin.copy:
    src: cron_goaccess
    dest: /etc/cron.hourly/goaccess
    owner: root
    group: root
    mode: "0774"
  become: true
