---
- name: jenkins user
  ansible.builtin.user:
    name: "{{ jenkins_master_process_user }}"
    home: "{{ jenkins_master_home }}"
    append: true
    groups:
      - "{{ jenkins_master_process_group }}"
      - "{{ ansible_user_gid }}" # kamailio-deb-jenkins
    state: present
  become: true

- name: jenkins home
  ansible.builtin.file:
    path: "{{ jenkins_master_home }}"
    owner: "{{ jenkins_master_process_user }}"
    group: "{{ jenkins_master_process_group }}"
    state: directory
    mode: '0755'
  become: true

- name: generate jenkins keypair
  community.crypto.openssh_keypair:
    path: "{{ jenkins_master_home }}/id_ssh_rsa"
    owner: "{{ jenkins_master_process_user }}"
    group: "{{ jenkins_master_process_group }}"
  register: jenkins_master_keypair
  become: true

# TODO set_fact and use it in template
- name: Print jenkins_slave_ssh_pub
  ansible.builtin.debug:
    var: jenkins_master_keypair.public_key

- name: ensure packages are installed
  ansible.builtin.apt:
    name: "{{ package }}"
    state: latest
  loop: "{{ jenkins_master_pkgs + jenkins_master_pkgs_extra }}"
  loop_control:
    loop_var: package
  become: true

- name: download plugin-installation-manager-tool
  ansible.builtin.get_url:
    url: "{{ jenkins_master_plugin_imt_url }}"
    checksum: "sha256:{{ jenkins_master_plugin_imt_url }}.sha256"
    dest: "{{ jenkins_master_home }}/jenkins-plugin-manager.jar"
    owner: "{{ jenkins_master_process_user }}"
    group: "{{ jenkins_master_process_group }}"
    mode: '0440'
  become: true

- name: plugins and config-as-code configs
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ jenkins_master_home }}/{{ item }}"
    owner: "{{ jenkins_master_process_user }}"
    group: "{{ jenkins_master_process_group }}"
    mode: '0640'
  loop:
    - plugins.yaml
    - jenkins.yaml
  notify:
    - install plugins
  become: true

- name: Generate admin token
  community.general.jenkins_credential:
    name: "ansible"
    jenkins_user: "{{ jenkins_master_admin_username }}"
    jenkins_password: "{{ jenkins_master_admin_password }}"
    type: "token"
  register: jenkins_master_token_result

- name: jjb config
  ansible.builtin.template:
    src: jenkins_jobs.ini.j2
    dest: /etc/jenkins_jobs/jenkins_jobs.ini
    owner: root
    group: "{{ ansible_facts.user_gid }}"
    mode: '0640'
  vars:
    jenkins_master_admin_token: "{{ jenkins_master_token_result.token }}"
  become: true
