---
- name: jenkins user
  ansible.builtin.user:
    name: "{{ jenkins_master_process_user }}"
    home: "{{ jenkins_master_home }}"
    append: true
    groups:
      - "{{ jenkins_master_process_group }}"
      - "{{ ansible_user_gid }}" # kamailio-deb-jenkins
    state: present
  become: true

- name: jenkins home
  ansible.builtin.file:
    path: "{{ jenkins_master_home }}"
    owner: "{{ jenkins_master_process_user }}"
    group: "{{ jenkins_master_process_group }}"
    state: directory
    mode: '0755'
  become: true

- name: repository directory
  ansible.builtin.file:
    path: /srv/repository
    owner: "{{ jenkins_master_process_user }}"
    group: "{{ jenkins_master_process_group }}"
    state: directory
    mode: '0755'
  become: true

- name: Copy private key
  ansible.builtin.copy:
    content: "{{ jenkins_master_jenkins_gpg }}"
    dest: /var/run/jenkins/reprepro.asc
    owner: "{{ jenkins_master_process_user }}"
    group: "{{ jenkins_master_process_group }}"
    mode: '0600'
  become: true

- name: GPG repository management
  block:
    - name: Import Private GPG Key from file
      gpg:
        key_file: /var/run/jenkins/reprepro.asc
        key_type: private
        state: latest

    - name: Export Public GPG Key
      ansible.builtin.shell: |
        gpg --armor --export {{ jenkins_master_jenkins_keyid }} --output /srv/repository/kamailiodebkey.gpg
      args:
        creates: /srv/repository/kamailiodebkey.gpg
  become_user: "{{ jenkins_master_process_user }}"
  become: true

- name: jenkins device mount point
  ansible.builtin.file:
    path: "{{ __jenkins_master_mount_point }}"
    owner: "{{ jenkins_master_process_user }}"
    group: "{{ jenkins_master_process_group }}"
    state: directory
    mode: '0755'
  become: true

- name: Mount jenkins device by PARTUUID
  ansible.posix.mount:
    path: "{{ __jenkins_master_mount_point }}"
    src: "PARTUUID={{ jenkins_master_device }}"
    fstype: ext4
    opts: defaults,noatime
    passno: 2
    state: present
  become: true

- name: jenkins device dirs
  ansible.builtin.file:
    path: "{{ __jenkins_master_mount_point }}/{{ item }}"
    owner: "{{ jenkins_master_process_user }}"
    group: "{{ jenkins_master_process_group }}"
    state: directory
    mode: '0755'
  loop:
    - jobs
    - workspace
  become: true

- name: Mount and bind a volume
  ansible.posix.mount:
    path: "{{ jenkins_master_home }}/{{ item }}"
    src: "{{ __jenkins_master_mount_point }}/{{ item }}"
    opts: bind
    state: present
    fstype: none
  loop:
    - jobs
    - workspace
  become: true

- name: jenkins id_ssh_rsa.pem
  ansible.builtin.copy:
    dest: "{{ __jenkins_master_sshkey_file }}"
    content: "{{ jenkins_master_jenkins_ssh }}"
    owner: "{{ jenkins_master_process_user }}"
    group: "{{ jenkins_master_process_group }}"
    mode: '0600'
  become: true

- name: ensure packages are installed
  ansible.builtin.apt:
    name: "{{ package }}"
    state: latest
  loop: "{{ jenkins_master_pkgs + jenkins_master_pkgs_extra }}"
  loop_control:
    loop_var: package
  become: true

- name: Set KEY_ID at jenkins-debian-glue conf
  ansible.builtin.lineinfile:
    dest: /etc/jenkins/debian_glue
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: "{{ item.state | default('present') }}"
  with_items:
    - { regexp: '^# KEY_ID=', line: "KEY_ID={{ jenkins_master_jenkins_keyid }}" }
  become: true

- name: download plugin-installation-manager-tool
  ansible.builtin.get_url:
    url: "{{ jenkins_master_plugin_imt_url }}"
    checksum: "sha256:{{ jenkins_master_plugin_imt_url }}.sha256"
    dest: "{{ jenkins_master_home }}/jenkins-plugin-manager.jar"
    owner: "{{ jenkins_master_process_user }}"
    group: "{{ jenkins_master_process_group }}"
    mode: '0440'
  become: true

- name: plugins config
  ansible.builtin.template:
    src: "plugins.yaml.j2"
    dest: "{{ jenkins_master_home }}/plugins.yaml"
    owner: "{{ jenkins_master_process_user }}"
    group: "{{ jenkins_master_process_group }}"
    mode: '0640'
  notify:
    - install plugins
  become: true

- name: config-as-code config
  ansible.builtin.template:
    src: jenkins.yaml.j2
    dest: "{{ jenkins_master_home }}/jenkins.yaml"
    owner: "{{ jenkins_master_process_user }}"
    group: "{{ jenkins_master_process_group }}"
    mode: '0640'
  notify:
    - restart jenkins
  become: true

- name: Force handler to run now (e.g., for a dependent task)
  ansible.builtin.meta: flush_handlers

- name: Generate admin token
  community.general.jenkins_credential:
    name: "jjb"
    jenkins_user: "{{ jenkins_master_admin_username }}"
    jenkins_password: "{{ jenkins_master_admin_password }}"
    type: "token"
  register: jenkins_master_token_result

- name: jjb config
  ansible.builtin.template:
    src: jenkins_jobs.ini.j2
    dest: /etc/jenkins_jobs/jenkins_jobs.ini
    owner: root
    group: "{{ ansible_facts.user_gid }}"
    mode: '0640'
  vars:
    jenkins_master_admin_token: "{{ jenkins_master_token_result.token }}"
  become: true
