[DEFAULT]
ignoreip = 127.0.0.1/8 ::1 {{ deb_apt_cache_allow_ips | join(' ') }}

[nginx-http-auth]
enabled = true
port    = http,https
logpath = %(nginx_error_log)s

[nginx-botsearch]
enabled = true
port     = http,https
logpath  = %(nginx_error_log)s

[nginx-bad-request]
enabled = true
port    = http,https
logpath = %(nginx_access_log)s

[nginx-forbidden]
enabled = true
port     = http,https
logpath  = %(nginx_error_log)s

[php-url-fopen]
enabled = true
port    = http,https
logpath = %(nginx_access_log)s
          %(apache_access_log)s
