#!/bin/bash
DEST={{ deb_goaccess_dir }}/stats
DB={{ deb_goaccess_dir }}/db/{{ domain | replace('.','_') }}
NAME={{ domain }}
LOG=${LOG:-{{ access_log }}}

goaccess ${LOG} --log-format=COMBINED \
  --db-path ${DB} \
  --restore --persist \
  -a -o "${DEST}/${NAME}/full.html"
