---
deb_pkgs:
  - cron
  - logrotate
  - apt-cacher-ng
  - fail2ban
  - goaccess
deb_certbot_admin_email: email@example.com
deb_jenkins_servername: jenkins.fake
deb_repository_servername: deb.jenkins.fake
deb_apt_cache_servername: "{{ hostvars[inventory_hostname].ip | default(ansible_default_ipv4.address | default(ansible_all_ipv4_addresses[0])) }}"
deb_certbot_certs:
  - name: "{{ deb_jenkins_servername }}"
    domains:
      - "{{ deb_jenkins_servername }}"
  - name: "{{ deb_repository_servername }}"
    domains:
      - "{{ deb_repository_servername }}"
deb_certbot_create: false
deb_certbot_testmode: false
deb_nginx_vhosts:
  - listen: "443 ssl"
    server_name: "{{ deb_jenkins_servername }}"
    state: "present"
    access_log: /var/log/nginx/{{ deb_jenkins_servername }}_access.log
    extra_parameters: |
      include snippets/jenkins.conf;
      http2 on;
      ssl_certificate     /etc/letsencrypt/live/{{ deb_jenkins_servername }}/fullchain.pem;
      ssl_certificate_key /etc/letsencrypt/live/{{ deb_jenkins_servername }}/privkey.pem;
      include /etc/letsencrypt/options-ssl-nginx.conf;
      client_max_body_size 20M;
  - listen: "443 ssl"
    server_name: "{{ deb_repository_servername }}"
    state: "present"
    access_log: /var/log/nginx/{{ deb_repository_servername }}_access.log
    root: "{{ deb_repository_basedir }}"
    extra_parameters: |
      listen 80;
      listen [::]:80;
      include snippets/repo.conf;
      ssl_certificate     /etc/letsencrypt/live/{{ deb_repository_servername }}/fullchain.pem;
      ssl_certificate_key /etc/letsencrypt/live/{{ deb_repository_servername }}/privkey.pem;
      include /etc/letsencrypt/options-ssl-nginx.conf;
  - listen: "80"
    filename: apt-cacher.conf
    server_name: "{{ deb_apt_cache_servername }}"
    state: "present"
    access_log: /var/log/nginx/apt_cacher_access.log
    extra_parameters: |
      include snippets/apt_cache.conf;
deb_jenkins_war_dir: /var/cache/jenkins/war/
deb_jenkins_master_home: /var/lib/jenkins/
deb_repository_basedir: /srv/repository
deb_repository_device: fake
deb_apt_cache_allow_ips:
  - 127.0.0.1/32
deb_goaccess_domains:
  - name: "{{ deb_jenkins_servername }}"
    access_log: "/var/log/nginx/{{ deb_jenkins_servername }}_access.log"
  - name: "{{ deb_repository_servername }}"
    access_log: "/var/log/nginx/{{ deb_repository_servername }}_access.log"
