---
deb_certbot_admin_email: email@example.com
deb_jenkins_servername: jenkins.fake
deb_repository_servername: deb.jenkins.fake
deb_apt_cache_servername: "{{ hostvars[inventory_hostname].ip | default(ansible_default_ipv4.address | default(ansible_all_ipv4_addresses[0])) }}"
deb_certbot_certs:
  - name: "{{ deb_jenkins_servername }}"
    domains:
      - "{{ deb_jenkins_servername }}"
deb_certbot_create: false
deb_certbot_testmode: false
deb_nginx_vhosts:
  - listen: "443 ssl"
    server_name: "{{ deb_jenkins_servername }}"
    state: "present"
    access_log: /var/log/nginx/access_{{ deb_jenkins_servername }}.log
    extra_parameters: |
      include snippets/jenkins.conf;
      http2 on;
      ssl_certificate     /etc/letsencrypt/live/{{ deb_jenkins_servername }}/fullchain.pem;
      ssl_certificate_key /etc/letsencrypt/live/{{ deb_jenkins_servername }}/privkey.pem;
      ssl_session_timeout  10m;
      ssl_session_cache  shared:SSL:10m;
      ssl_protocols  SSLv3 TLSv1 TLSv1.1 TLSv1.2;
      ssl_ciphers  ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-RC4-SHA:ECDHE-RSA-RC4-SHA:DHE-RSA-CAMELLIA256-SHA:DHE-DSS-CAMELLIA256-SHA:ECDH-ECDSA-AES256-GCM-SHA384:ECDH-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-RC4-SHA:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:RC4-SHA:ECDH-ECDSA-AES256-SHA:ECDH-RSA-AES256-SHA:CAMELLIA256-SHA:AES256-SHA;
      ssl_prefer_server_ciphers   on;
      client_max_body_size 20M;
  - listen: "80"
    server_name: "{{ deb_repository_servername }}"
    state: "present"
    access_log: /var/log/nginx/access_{{ deb_repository_servername }}.log
    root: "{{ deb_repository_basedir }}"
    extra_parameters: |
      include snippets/repo.conf;
  - listen: "80"
    filename: apt-cacher.conf
    server_name: "{{ deb_apt_cache_servername }}"
    state: "present"
    access_log: /var/log/nginx/access_apt_cacher.log
    extra_parameters: |
      include snippets/apt_cache.conf;
deb_jenkins_war_dir: /var/cache/jenkins/war/
deb_jenkins_master_home: /var/lib/jenkins/
deb_repository_basedir: /srv/repository
deb_repository_device: fake
deb_apt_cache_allow_ips:
  - 127.0.0.1/32
