---
- name: Perform all Debian platform tasks
  debug:
    msg: Perform all Debian platform tasks

- name: Install Debian backports
  apt_repository:
    repo: deb http://deb.debian.org/debian {{ ansible_distribution_release }}-backports main {{ base_backports_additional_components | join(' ') }}
    state: '{{ "present" if base_backports else "absent" }}'
    filename: '{{ ansible_distribution_release }}-backports'
    update_cache: true
  when: base_backports
  become: true

- name: update cache
  ansible.builtin.apt:
    update_cache: yes
  become: yes

- name: Ensure packages are installed
  ansible.builtin.apt:
    name: "{{ package }}"
    state: latest
  loop: "{{ base_packages + base_extra_packages|default([])}}"
  loop_control:
    loop_var: package
  become: yes

- name: Remove dependencies that are no longer required
  ansible.builtin.apt:
    autoremove: yes
  become: yes
