---
- name: ensure packages are installed
  ansible.builtin.apt:
    name: "{{ package }}"
    state: latest
  loop: "{{ common_pkgs }}"
  loop_control:
    loop_var: package
  become: true

- name: ssh authorized_keys
  ansible.posix.authorized_key:
    user: "{{ ansible_user }}"
    key: "{{ item }}"
    state: present
  loop: "{{ common_sshkeys | default([]) }}"

- name: Download tmux.conf
  ansible.builtin.get_url:
    url: "{{ __common_gh_base }}/.tmux.conf"
    dest: "{{ ansible_facts.user_dir }}/.tmux.conf"
    mode: '0640'

- name: kamailio-deb-jenkins checkout
  ansible.builtin.git: # noqa: latest[git] partial-become
    repo: "{{ common_kamailio_deb_jenkins_repo }}"
    dest: "{{ ansible_facts.user_dir }}/kamailio-deb-jenkins"

- name: perms for group access
  ansible.builtin.file:
    path: "{{ ansible_facts.user_dir }}"
    state: directory
    mode: '0750'
  become: true

- name: Ensure checkout dirs 0750
  ansible.builtin.command: find -type d ! -perm 0750 -exec chmod 0750 {} \;
  args:
    chdir: "{{ ansible_facts.user_dir }}/kamailio-deb-jenkins"
  changed_when: true
  become: true

- name: Ensure files 0640
  ansible.builtin.command: find . -type f ! -perm 0640 -exec chmod 0640 {} \;
  args:
    chdir: "{{ ansible_facts.user_dir }}/kamailio-deb-jenkins"
  changed_when: true
  become: true

- name: Ensure scripts files 0750
  ansible.builtin.command: find {{ item }} -type f ! -perm 0750 -exec chmod 0750 {} \;
  args:
    chdir: "{{ ansible_facts.user_dir }}/kamailio-deb-jenkins"
  loop:
    - scripts
    - ec2/bootstrap.sh
    - jjb/jenkins-jobs-wrapper
  changed_when: true
  become: true
