---
- name: Ensure jenkins group exists
  ansible.builtin.group:
    name: "{{ jenkins_slave_group }}"
    state: present
  become: true

- name: jenkins user
  ansible.builtin.user:
    name: "{{ jenkins_slave_username }}"
    uid: 2000
    home: "{{ jenkins_slave_home }}"
    append: true
    groups:
      - sudo
      - "{{ jenkins_slave_group }}"
    state: present
  register: jenkins_slave_user_info
  become: true

- name: ssh jenkins dir
  ansible.builtin.file:
    path: "{{ jenkins_slave_home }}/.ssh"
    owner: "{{ jenkins_slave_username }}"
    group: "{{ jenkins_slave_group }}"
    state: directory
    mode: '0755'
  become: true

- name: autorized_keys file
  ansible.builtin.copy:
    content: "{{ jenkins_slave_ssh_pub }}"
    dest: "{{ jenkins_slave_home }}/.ssh/authorized_keys"
    owner: "{{ jenkins_slave_username }}"
    group: "{{ jenkins_slave_group }}"
    mode: '0644'
  become: true

- name: ensure packages are installed
  ansible.builtin.apt:
    name: "{{ package }}"
    state: latest
  loop: "{{ jenkins_slave_pkgs + jenkins_slave_pkgs_extra }}"
  loop_control:
    loop_var: package
  become: true

- name: sudoers cfg for pbuilder
  ansible.builtin.copy:
    src: sudoers.d/pbuilder
    dest: /etc/sudoers.d/pbuilder
    owner: root
    group: root
    mode: '0440'
  become: true

- name: pbuilderrc
  ansible.builtin.copy:
    src: pbuilderrc
    dest: /etc/jenkins/pbuilderrc
    owner: root
    group: root
    mode: '0440'
  become: true

- name: debian_glue
  ansible.builtin.replace:
    path: /etc/jenkins/debian_glue
    regexp: '^# PBUILDER_CONFIG='
    replace: PBUILDER_CONFIG=/etc/jenkins/pbuilderrc
  become: true

- name: debootstrap links
  ansible.builtin.file:
    path: "/usr/share/debootstrap/scripts/{{ item.dst }}"
    src: "{{ item.src }}"
    state: link
  loop:
    - dst: noble
      src: gutsy
    - dst: jammy
      src: gutsy
    - dst: focal
      src: gutsy
    - dst: bionic
      src: gutsy
    - dst: xenial
      src: gutsy
    - dst: bullseye
      src: sid
    - dst: bookworm
      src: sid
    - dst: trixie
      src: sid
  become: true

- name: store arch as fact
  ansible.builtin.set_fact:
    jenkins_slave_arch: "{{ 'amd64' if ansible_architecture == 'x86_64' else ('arm64' if ansible_architecture == 'aarch64' else ansible_architecture) }}"

- name: prepare cowbuilder script
  ansible.builtin.copy:
    src: prepare_cowbuilder.sh
    dest: "{{ jenkins_slave_home }}/prepare_cowbuilder.sh"
    owner: root
    group: root
    mode: '0540'
  become: true

- name: prepare cowbuilder for "{{ jenkins_slave_arch }}"
  ansible.builtin.command: "{{ jenkins_slave_home }}/prepare_cowbuilder.sh {{ item }} {{ jenkins_slave_arch }}"
  changed_when: true
  loop: "{{ jenkins_slave_distris }}"
  become: true
